* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: none;
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #c4edef;
  flex-direction: column;
  gap: 30px;
}
h1 {
  font-size: 50px;
}
button {
  border: none;
}

.piano {
  height: 400px;
  width: 98%;
  background-color: black;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  cursor: none;
}

.keys {
  width: 100%;
  height: 70%;
  position: relative;
}
.key {
  height: 100%;
  width: 3.5%;
  border-radius: 4px;
  cursor: pointer;
  cursor: none;
}

.whites {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.36%;
}

.whites .w-key {
  background-color: white;
}
.w-key {
  padding-top: 50px;
}
.blacks {
  position: absolute;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 4.2%;
}

.blacks .b-key {
  background-color: black;
  color: white;
  z-index: 10;
}

.b-key:active {
  background-color: rgb(43, 43, 43);
  transform: scale(0.98);
}
.w-key:active {
  background-color: rgb(226, 222, 222);
  transform: scale(0.98);
}

.cursor {
  position: fixed;
  width: 34px;
  transform: translate(-50%, -50%);
  z-index: 20;
  pointer-events: none;
}
