@font-face {
  font-family: regular;
  src: url(/HelveticaNowText-Regular.ttf);
}
@font-face {
  font-family: thinner;
  src: url(/HelveticaNowText-Thin.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular;
}

html,
body {
  width: 100%;
  height: 100%;
}

.logo {
  width: 24px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.call a {
  text-decoration: underline;
}
main {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  height: 90.6dvh;
  width: 100%;
  padding: 0 30px;
}

main .left {
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

main .left .top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: thinner;
}
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.count h3 {
  font-size: 40px;
  font-family: thinner;
}
.count p {
  color: gray;
}

.title {
  font-size: 12rem;
  font-family: thinner;
}

.profile {
  height: 100%;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side {
  position: absolute;
  transform-origin: left center;
  transform: rotate(-90deg);
  left: 20px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* width: 100%; */
  padding: 10px;
  color: gray;
}

.side .line {
  width: 60vh;
  height: 1px;
  background-color: gray;
}
