* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  background-color: #121212;
  padding: 20px;
  color: white;
}
section {
  height: 100%;
  width: 350px;
  background-color: black;
  border-radius: 10px;
  margin: auto;
}

.all-reels {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.all-reels::-webkit-scrollbar {
  display: none;
}
.reel {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  scroll-snap-align: start;
}

.reel video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.reel .bottom {
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.853));
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bottom .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom .user img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.bottom .user h4 {
  font-weight: 500;
  font-size: 15px;
}

.bottom .user button {
  background-color: transparent;
  color: white;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid white;
}
.bottom > h3 {
  font-weight: 500;
  font-size: 20px;
}

.right {
  position: absolute;
  right: 12%;
  transform: translateX(100%);
  bottom: 16%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.right i {
  font-size: 25px;
  font-weight: 500;
}
.right .red {
  color: red;
}

.right h6 {
  font-size: 18px;
  font-weight: 500;
}
