* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@property --borderAngle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes animateBorder {
  from {
    --borderAngle: 0deg;
  }
  to {
    --borderAngle: 360deg;
  }
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 300px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 4px;
  transition: all ease-in 0.2s;
  cursor: pointer;
}

.box img {
  width: 250px;
}

.box h3 {
  font-size: 1.6rem;
}
.box p {
  text-align: center;
  margin-bottom: 20px;
}

.box:hover {
  background: linear-gradient(black) content-box,
    conic-gradient(from var(--borderAngle), red, black, black, rgb(255, 17, 60))
      border-box;
  animation: animateBorder 2s linear infinite;
  box-shadow: 0 0 50px rgb(255, 17, 60);
  color: rgb(255, 17, 60);
}
